@import '../App.config.scss';

$view_margin: 62px;

.jh-home {
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: $view_margin 5%;
  position: absolute;
  right: 0;
  top: 0;

  @media (min-width: 650px) {
    padding: $view_margin 8%;
  }
  @media (min-width: 850px) {
    padding: $view_margin 10%;
  }
  @media (min-width: 1100px) {
    padding: $view_margin 15%;
  }
  @media (min-width: 1400px) {
    padding: $view_margin 23%;
  }
  @media (min-width: 1700px) {
    padding: $view_margin 26%;
  }
  @media (min-width: 1900px) {
    padding: $view_margin 30%;
  }
  @media (min-width: 2200px) {
    padding: $view_margin 32%;
  }
  @media (min-width: 2500px) {
    padding: $view_margin 34%;
  }
}

.jh-home {
  h1, p {
    margin-bottom: 20px;
  }
  li {
    margin-bottom: 15px;
  }
  p, li {
    line-height: 27px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  a {
    color: $green;
    // color: #dc5c43;
    text-decoration: none;
    word-wrap: break-word;
  }
}

.jhh-container {
  position: relative;
  width: 100%;
}

.jhh-container {
  figure {
    margin: 0 auto;
    margin-bottom: $view_margin;
    text-align: center;
    img {
      border-radius: 50%;
      width: 125px;
    }
    figcaption {
      position: relative;
      h1 {
        font-size: 22px;
        margin: 0;
        padding: 10px 0;
      }
      p {
        line-height: 22px;
        margin-bottom: 8px;
        padding: 0;
      }
      & > a {
        bottom: -8px;
        display: none;
        position: absolute;
        right: -125px;
        img {
          border-radius: unset;
          width: 425px;
        }
        @media (min-width: 850px) {
          display: block;
        }
      }
      .jh-photos {
        $width: 175px;
        $height: $width * 1.5714;
        display: none;
        &.img-rotate-0 {
          transform: rotate(3deg)
        }
        &.img-rotate-1 {
          transform: rotate(-2deg)
        }
        &.img-rotate-2 {
          transform: rotate(2deg)
        }
        &.img-rotate-3 {
          transform: rotate(-1deg)
        }
        @media (min-width: 420px) and (max-width: 850px) {
          display: block;
          position: absolute;
          $padding: 10px;
          &.img-pos-0 {
            left: $padding;
            top: -150px;
          }
          &.img-pos-1 {
            right: $padding * 2;
            top: -100px;
          }
          &.img-pos-2 {
            left: $padding;
            top: -120px;
          }
          &.img-pos-3 {
            right: $padding * 4;
            top: -130px;
          }
          &.img-pos-4 {
            right: $padding * 2;
            top: -110px;
          }
          &.img-pos-5 {
            right: $padding;
            top: -120px;
          }
          img {
            border-radius: unset;
            width: $width;
          }
        }
        @media (min-width: 850px) {
          align-items: center;
          display: flex;
          flex-direction: column;
          left: -15px;
          justify-content: center;
          min-height: $height;
          min-width: $height;
          position: absolute;
          top: -150px;
          &.img-orientation-l {
            img {
              border-radius: unset;
              width: $height;
            }
          }
          &.img-orientation-p {
            img {
              border-radius: unset;
              width: $width;
            }
          }
        }
      }
    }
  }
  figure + a {
    img {
      margin-bottom: $view_margin * 1.4;
      width: 100%;
    }
    @media (min-width: 850px) {
      display: none;
    }
  }
}

.jhh-container {
  .jhhc-content {
    margin-bottom: $view_margin;

    h3:first-of-type {
      margin-bottom: 31px;

      @media (min-width: 650px) {
        margin-bottom: 51px;
      }
    }
    ul, li {
      padding: 0;
    }
    li {
      margin-left: 20px;
      padding-left: 12px;
    }
    a {
      font-size: 14px;
      @media (min-width: 850px) {
        font-size: unset;
      }
    }
    blockquote {
      border-left: 6px solid $green;
      font-size: 15px;
      line-height: 22px;
      margin-left: 4px;
      margin-bottom: 22px;
      margin-top: 31px;
      padding-left: 22px;

      @media (min-width: 650px) {
        margin-top: 51px;
      }
    }
  }
}

.jhh-ghc {
  margin-bottom: 8px;
  position: relative;
  img {
    width: 100%;
  }
  .jhhghc-days {
    display: none;
    font-size: 8px;
    left: -8px;
    position: absolute;
    top: 12vw;

    @media (min-width: 450px) {
      // display: block;
      top: 13.5vw;
    }
    @media (min-width: 650px) {
      top: 12.5vw;
    }
    @media (min-width: 850px) {
      top: 11.8vw;
    }
    @media (min-width: 1100px) {
      top: 10.4vw;
    }
    @media (min-width: 1400px) {
      top: 8.2vw;
    }

    ul, li {
      margin: 0;
      padding: 0;
    }

    li {
      font-size: 1.5vw;
      letter-spacing: 2vw;
      list-style: none;
      line-height: 1vw;
      overflow: hidden;
      width: 2vw;

      @media (min-width: 450px) {
        font-size: 1.2vw;
        line-height: 2.98vw;
      }

      @media (min-width: 650px) {
        font-size: 1.4vw;
        line-height: 2.98vw;
      }
      @media (min-width: 850px) {
        font-size: 12px;
        line-height: 2.85vw;
      }
      @media (min-width: 1100px) {
        font-size: 12px;
        line-height: 2.45vw;
      }
      @media (min-width: 1400px) {
        font-size: 12px;
        line-height: 1.8vw;
      }
      // @media (min-width: 1700px) {
      //   font-size: 12px;
      //   line-height: 2.45vw;
      // }
      // @media (min-width: 1900px) {
      //   font-size: 12px;
      //   line-height: 2.45vw;
      // }
      // @media (min-width: 2200px) {
      //   font-size: 12px;
      //   line-height: 2.45vw;
      // }
      // @media (min-width: 2500px) {
      //   font-size: 12px;
      //   line-height: 2.45vw;
      // }
    }
  }
}

.jhh-footer {
  padding: $view_margin 0;
  img {
    width: 100%;
  }
}
