
$black: #222;
$green: #8AC14D;
$green_two: #60ad4b;
$green_three: #4f9d45;
$red: #D5544B;
$blue: #368CC6;
$purple: #6c568e;
$yellow: #e8c021;
$yellow_two: #dbad2c;
$orange: #E46D36;
$white: #fff;
$white-hover: rgb(250,250,250);
